[Unit]
Description=Activate Catlight Services (currently Pidgin integration)
 
[Service]
Type=dbus
BusName=im.pidgin.purple.PurpleInterface
ExecStart=/usr/bin/dbus-launch /usr/bin/python2 /home/sahib/dev/catlight/scripts/pidgin.py

[Install]
WantedBy=multi-user.target
